@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;  
  color: #777;
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555;
}

hr {
  border-top: 1px solid #777;
  width: 100%;
  margin: 5px 0;
}

footer {
	height: 150px;
}

.social-networks {
	text-align: center;
}

.social-networks li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #777;
}

.active {
  /*border-bottom: 1px solid#777;*/
  text-decoration: underline !important;
}

.left-about-heading {
  width: 50%;
  float: right;
  line-heaght: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 50%;
  float: left;
  line-heaght: 20px;
  clear: both;
  margin-bottom: 50px;
  text-align: right;
}


/* --- Hero Image Styling --- */

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  text-align: right;
  float: right;
}

#logo, #menu {
  line-height: 75px;
}

#menu li {
  display: inline;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
  
}

#menu a:hover {
  /*border-bottom: 1px solid#777;*/
  text-decoration: underline;
}
#hero-image{
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.png") no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forward;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#cover-text, #cover-text h2 {
  color: #fff;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;
  
  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(241, 109, 107, .7);

  bottom: 30px;
  right: 150px;

  position: absolute;
}


/* --- club ethos styling ---*/

#club-ethos {
  height: 600px;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#centre-about {
  width: 33%;
  margin: 0 auto;
}

#welcome {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border: solid 1px #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url("../images/ethos-runner-image.png") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

/*---Meetup Times Styling---*/

#times {
  background-image: url("../images/dublin-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times div{
	color: #fafafa;
	background-color: rgba(0, 0, 0, .6);
	width: 19%;
	height: 300px;
	float: left; /* <--- THIS ELIMITAED THE NEED FOR DISPLAY: INLINE (REVISION)*/
	padding: 30px 0 0 10px;
	text-align: center;
	margin: 4px;
}

#times h2 {
	color: #fafafa;
}


/*--- gallery page styling---*/

#photos {
	clear: both;
	line height: 0;
	column-count: 4;
	column-gap: 0;
}

#photos img {
	width: 100%;
}


/*--- Tablet size Media Query Styling ---*/

@media screen and (max-width: 1393px ) {
	#club-ethos {
		width: 65%;
		height: 1200px;
		margin: 0 auto;
	}
	
	#welcome {
		padding: 30px 0;
		margin-top: 0;
	}
	
	#left-about, #right-about {
		width: 100%;
		float: left;
		padding: 0;
	}
	
	#centre-about {
		clear: both;
		width: 100%;
		float: left;
		padding: 0;
	}
	
	hr {
		display: none;
	}
	
	#times  div{
		width: 100%;
		clear: both;
		height: 150%;
		border-style: solid;
		border-bottom-color: #fff;
		border-bottom-width: 1px;
		padding: 0px;
	}
	
	
}


/*--- Smartphone size Media Query Styling ---*/

@media screen and (max-width: 943px) {
	#menu {
		clear: left;
		float: left;
		margin-left: 30px;
		margin-bottom: 20px;
		line0height: 25px;
	}
	
	#cover-text {
		left: 0px;
	}
	
	#club-ethos {
		width: 90%;
		height: 1200px;
		margin: 0 auto;
	}
	
	.left-about-heading, .right-about-heading {
		width: inherit;
	}
	
	.left-about-heading h2, .right-about-heading h2 {
		width: 100%;
		text-align: center;
	}
	.left-about-heading, .right-about-heading {
		text-align: center;
		padding: 0 20px;
	}
	
	#photos {
		column-count: 3;
	}
}


/*--- Smaller Smartphone Media Query Styling ---*/

@media screen and (max-width: 800px) {
	#photos {
		column-count: 2;
	}
}

/*---Animation Definitions---*/

@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}